body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navigation {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

h1,
h2,
h3 {
  font-family: Helvetica;
  font-weight: bold;
}

/* Access an element within a block */
.navigation h1 {
  font-size: 70px;
  color: white;
}

.navlink {
  font-size: 18px;
  color: white;
}

.navigation h2 {
  font-size: 23px;
  color: white;
}

.mainBlock {
  text-align: center;
}

.mainBlock h2 {
  font-size: 32px;
}

.component h3 {
  font-size: 23px;
}

.component p {
  font-size: 14px;
}

.footer {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
